---
# Note that this is a KICS config for a SSH Honeypot and not suitable for much else
type: Terraform
minimal-ui: true
no-color: true
no-progress: true
exclude-queries:
  # DDoS protection isn't available for the specified resource
  - b4cc2c52-34a6-4b43-b57c-4bdeb4514a5a
  # Public IP is accessible from the internet
  - c1573577-e494-4417-8854-7e119368dc8b
  # Console access
  - 487f4be7-3fd9-4506-a07a-eae252180c08
  - dafe30ec-325d-4516-85d1-e8e6776f012c
