**/.terraform/*
*.retry
*.tfstate
*.tfstate.*
*.tfvars
*_override.tf
*_override.tf.json
.cache
.scannerwork
.sonar
.terraform.lock.hcl
.terraformrc
.tox
.vagrant
.yamllint
crash.*.log
crash.log
hosts
override.tf
override.tf.json
terraform.rc
