#!/usr/bin/python3
"""Read the cowrie logs and return connection info in csv format."""

try:
    import json
except ImportError:
    import simplejson as json
import glob

COWRIE_LOG_DIR = "{{ docker_user_info.home }}/cowrie/var/log"
cowrie_log_files = glob.glob(COWRIE_LOG_DIR + "/cowrie.json*")


def log_reader(logfile):
    """Read the cowrie json log."""
    try:
        with open(logfile, "r", encoding="UTF-8") as cowrie_json:
            cowrie_data = [json.loads(line) for line in cowrie_json]
            return cowrie_data
    except json.decoder.JSONDecodeError:
        return type(json.decoder.JSONDecodeError)


print("timestamp,src_ip,eventid,username,password")
for loglist in cowrie_log_files:
    try:
        for data in log_reader(loglist):
            if (
                data["eventid"] == "cowrie.login.success"
                or data["eventid"] == "cowrie.login.failed"
            ):
                print(
                    data["timestamp"]
                    + ","
                    + data["src_ip"]
                    + ","
                    + data["eventid"]
                    + ","
                    + data["username"]
                    + ","
                    + data["password"]
                )
    except BrokenPipeError:
        pass
    except TypeError:
        pass
