---
type: Terraform
minimal-ui: true
no-color: true
no-progress: true
exclude-queries:
  # EC2 Instance should not have a public IP address.
  - 5a2486aa-facf-477d-a5c1-b010789459ce
  # 'SSH' (TCP:22) should not be public in AWS Security Group
  - 65905cec-d691-4320-b320-2000436cb696
  # Sensitive Port Is Exposed To Entire Network
  - 381c3f2a-ef6f-4eff-99f7-b169cda3422c
  # Security groups allow ingress from 0.0.0.0:0
  - 4728cd65-a20c-49da-8b31-9c08b423e4db
