---
on: [push, pull_request]
name: Ansible Lint
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Lint Ansible Playbook
        uses: ansible/ansible-lint@main
